.crew_item {
  padding: 15px 0 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  cursor: pointer;

  &-icon {
    margin: 0 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &-info {
    margin-right: 20px;

    .model {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .color {
      font-size: 12px;
      color: rgba(0, 0, 0, .3);
    }
  }

  &-distance {
    margin: 0 5px 0 auto;
    align-self: end;
    color: rgba(255, 255, 255, 0.7);
  }

  &-arrow {
    img {
      width: 15px;
      height: 15px;
    }
  }
}